---
export const prerender = true;
import AppLayout from '@/layouts/AppLayout.astro';
import { AppLayout as AppLayoutComponent } from '@/components/app/AppLayout';
---
export const prerender = true;

<AppLayout title="App - ONE">
  <div class="h-screen w-screen overflow-hidden">
    <AppLayoutComponent client:load />
  </div>
</AppLayout>
