---
import { AppLayout as AppLayoutComponent } from "@/components/app/AppLayout";
import AppLayout from "@/layouts/AppLayout.astro";
---

<AppLayout title="App - ONE">
  <div class="h-screen w-screen overflow-hidden">
    <AppLayoutComponent client:load />
  </div>
</AppLayout>
