---
import Layout from '@/layouts/Layout.astro';
import { ForgotPasswordPage } from '@/components/auth/ForgotPasswordPage';
---

<Layout title="Forgot Password - ONE">
  <div class="flex items-center justify-center min-h-[calc(100vh-8rem)] px-4">
    <ForgotPasswordPage client:load />
  </div>
</Layout>
