---
const url = new URL(Astro.request.url);
const _token = url.searchParams.get("token") || "";
---

<Layout title="Verify Email - ONE">
  <div class="flex items-center justify-center min-h-[calc(100vh-8rem)] px-4">
    <VerifyEmailPage token={token} client:load />
  </div>
</Layout>
