---
export const prerender = true;
import MailLayout from '@/layouts/MailLayout.astro';
import { MailLayout as MailLayoutComponent } from '@/components/mail/MailLayout';
---
export const prerender = true;

<MailLayout title="Mail App">
  <div class="h-screen w-screen overflow-hidden">
    <MailLayoutComponent client:load />
  </div>
</MailLayout>
